div.data-cell,
span.data-cell {
  display: inline;
  padding: 0.1rem 0.75rem 0.1rem 0;
  white-space: nowrap;
}
div.legend,
span.legend {
  font-size: 0.95rem;
  padding: 0.5rem;
}
div.main-content,
span.main-content {
  padding: 0.25rem 0.5rem;
}
div.val-neutral,
span.val-neutral {
  color: #fafafa;
}
div.val-up,
span.val-up {
  color: #ef5350;
}
div.val-down,
span.val-down {
  color: #26a69a;
}
div.price-lg,
span.price-lg {
  font-size: 1.2rem;
}
div.title,
span.title {
  font-size: 1.2rem;
}
div.strength-indicator,
span.strength-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  text-align: center;
  width: 3.5rem;
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
}
@keyframes strength-indicator-bull-3-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: #f9b8c0;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #f9b8c0;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #f9b8c0;
  }
}
div.strength-indicator.strength-indicator-bull-3,
span.strength-indicator.strength-indicator-bull-3 {
  border: 2px solid #ed213a;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1.25rem #ed213a;
  color: #f9b8c0;
  animation: 750ms strength-indicator-bull-3-animation;
}
@keyframes strength-indicator-bull-2-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: #f9b8c0;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #f9b8c0;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #f9b8c0;
  }
}
div.strength-indicator.strength-indicator-bull-2,
span.strength-indicator.strength-indicator-bull-2 {
  border: 2px solid #ed213a;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1.25rem #ed213a;
  color: #f9b8c0;
  animation: 750ms strength-indicator-bull-2-animation;
}
@keyframes strength-indicator-bull-1-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: #f9b8c0;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #f9b8c0;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #f9b8c0;
  }
}
div.strength-indicator.strength-indicator-bull-1,
span.strength-indicator.strength-indicator-bull-1 {
  border: 2px solid #ed213a;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1.25rem #ed213a;
  color: #f9b8c0;
  animation: 750ms strength-indicator-bull-1-animation;
}
@keyframes strength-indicator-neutral-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: #fafafa;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #fafafa;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #fafafa;
  }
}
div.strength-indicator.strength-indicator-neutral,
span.strength-indicator.strength-indicator-neutral {
  border: 2px solid #fafafa;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1.25rem #fafafa;
  color: #fafafa;
  animation: 750ms strength-indicator-neutral-animation;
}
@keyframes strength-indicator-bear-1-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: #b3ffd9;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #b3ffd9;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #b3ffd9;
  }
}
div.strength-indicator.strength-indicator-bear-1,
span.strength-indicator.strength-indicator-bear-1 {
  border: 2px solid #00e071;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1.25rem #00e071;
  color: #b3ffd9;
  animation: 750ms strength-indicator-bear-1-animation;
}
@keyframes strength-indicator-bear-2-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: #b3ffd9;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #b3ffd9;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #b3ffd9;
  }
}
div.strength-indicator.strength-indicator-bear-2,
span.strength-indicator.strength-indicator-bear-2 {
  border: 2px solid #00e071;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1.25rem #00e071;
  color: #b3ffd9;
  animation: 750ms strength-indicator-bear-2-animation;
}
@keyframes strength-indicator-bear-3-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: #b3ffd9;
  }
  25% {
    color: transparent;
  }
  50% {
    color: #b3ffd9;
  }
  75% {
    color: transparent;
  }
  100% {
    color: #b3ffd9;
  }
}
div.strength-indicator.strength-indicator-bear-3,
span.strength-indicator.strength-indicator-bear-3 {
  border: 2px solid #00e071;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 1.25rem #00e071;
  color: #b3ffd9;
  animation: 750ms strength-indicator-bear-3-animation;
}

/*# sourceMappingURL=main.module.css.map */
