div.data-cell,
span.data-cell {
  display: inline;
  padding: 0.1rem 0.75rem 0.1rem 0;
  white-space: nowrap;
}
div.legend,
span.legend {
  font-size: 0.95rem;
  background-color: rgba(17, 17, 17, 0.75);
}
div.legend.diff-neutral,
span.legend.diff-neutral {
  border: 1px solid #fafafa;
  box-shadow: inset 0 0 0.5rem #fafafa;
}
div.legend.diff-up,
span.legend.diff-up {
  border: 1px solid #ef5350;
  box-shadow: inset 0 0 0.5rem #ef5350;
}
div.legend.diff-down,
span.legend.diff-down {
  border: 1px solid #26a69a;
  box-shadow: inset 0 0 0.5rem #26a69a;
}
div.legend.strength-indicator-bull-3,
span.legend.strength-indicator-bull-3 {
  border: 1px solid #ff4b4b;
}
div.legend.strength-indicator-bull-2,
span.legend.strength-indicator-bull-2 {
  border: 1px solid #ed7777;
}
div.legend.strength-indicator-bull-1,
span.legend.strength-indicator-bull-1 {
  border: 1px solid #dca1a1;
}
div.legend.strength-indicator-neutral,
span.legend.strength-indicator-neutral {
  border: 1px solid #cbcbcb;
}
div.legend.strength-indicator-bear-1,
span.legend.strength-indicator-bear-1 {
  border: 1px solid #88d2ad;
}
div.legend.strength-indicator-bear-2,
span.legend.strength-indicator-bear-2 {
  border: 1px solid #45d990;
}
div.legend.strength-indicator-bear-3,
span.legend.strength-indicator-bear-3 {
  border: 1px solid #00e071;
}
div.main-content,
span.main-content {
  padding: 0.25rem 0.5rem;
}
div.val-neutral,
span.val-neutral {
  color: #fafafa;
}
div.val-up,
span.val-up {
  color: #ef5350;
}
div.val-down,
span.val-down {
  color: #26a69a;
}
div.price-lg,
span.price-lg {
  font-size: 1.2rem;
}
div.title,
span.title {
  font-size: 1.2rem;
}
div.strength-indicator,
span.strength-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Consolas, monospace;
  font-size: 1.8rem;
  text-align: center;
  width: 3.5rem;
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
  /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
}
@keyframes strength-indicator-bull-3-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: black;
  }
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
div.strength-indicator.strength-indicator-bull-3,
span.strength-indicator.strength-indicator-bull-3 {
  background-color: #ff4b4b;
  color: black;
  padding: 0.25rem 0.5rem;
  animation: 750ms strength-indicator-bull-3-animation;
}
@keyframes strength-indicator-bull-2-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: black;
  }
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
div.strength-indicator.strength-indicator-bull-2,
span.strength-indicator.strength-indicator-bull-2 {
  background-color: #ed7777;
  color: black;
  padding: 0.25rem 0.5rem;
  animation: 750ms strength-indicator-bull-2-animation;
}
@keyframes strength-indicator-bull-1-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: black;
  }
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
div.strength-indicator.strength-indicator-bull-1,
span.strength-indicator.strength-indicator-bull-1 {
  background-color: #dca1a1;
  color: black;
  padding: 0.25rem 0.5rem;
  animation: 750ms strength-indicator-bull-1-animation;
}
@keyframes strength-indicator-neutral-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: black;
  }
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
div.strength-indicator.strength-indicator-neutral,
span.strength-indicator.strength-indicator-neutral {
  background-color: #cbcbcb;
  color: black;
  padding: 0.25rem 0.5rem;
  animation: 750ms strength-indicator-neutral-animation;
}
@keyframes strength-indicator-bear-1-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: black;
  }
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
div.strength-indicator.strength-indicator-bear-1,
span.strength-indicator.strength-indicator-bear-1 {
  background-color: #88d2ad;
  color: black;
  padding: 0.25rem 0.5rem;
  animation: 750ms strength-indicator-bear-1-animation;
}
@keyframes strength-indicator-bear-2-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: black;
  }
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
div.strength-indicator.strength-indicator-bear-2,
span.strength-indicator.strength-indicator-bear-2 {
  background-color: #45d990;
  color: black;
  padding: 0.25rem 0.5rem;
  animation: 750ms strength-indicator-bear-2-animation;
}
@keyframes strength-indicator-bear-3-animation {
  /* stylelint-disable-line keyframes-name-pattern */
  0% {
    color: black;
  }
  25% {
    color: white;
  }
  50% {
    color: black;
  }
  75% {
    color: white;
  }
  100% {
    color: black;
  }
}
div.strength-indicator.strength-indicator-bear-3,
span.strength-indicator.strength-indicator-bear-3 {
  background-color: #00e071;
  color: black;
  padding: 0.25rem 0.5rem;
  animation: 750ms strength-indicator-bear-3-animation;
}

/*# sourceMappingURL=main.module.css.map */
