# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Testing
coverage/
clover.xml
cobertura-coverage.xml
junit.xml

# Production
build/
.next/
next-env.d.ts

# Misc
.DS_Store
.wakatime-project

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Typescript
*.tsbuildinfo

# Project files
.idea/
