div {
  &.history-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
  }

  &.tooltip {
    border-radius: 3px;
    border: 1px solid #777;
    background-color: #19191a;
    padding: 0.5rem;
    text-align: center;
  }
}
