@use "sass:color";
@use "../../../../../../styles/colors";

span {
  &.badge {
    &:not(:last-child) {
      margin-right: 0.25rem;
    }

    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;
  }
}

table {
  &.account-table > tbody > tr > td {
    vertical-align: middle;
  }
}

tr {
  &.admin > td {
    background-color: color.change(colors.$color-dark-primary, $alpha: 0.18);
  }

  &.expired > td {
    background-color: color.change(colors.$color-dark-warning, $alpha: 0.18);
  }

  &.blocked > td {
    background-color: color.change(colors.$color-dark-danger, $alpha: 0.18);
  }
}

td {
  &.username {
    font-family: monospace;
  }

  &.status-icon {
    width: 1.2rem;
  }

  &.account-actions > button:not(:last-child) {
    margin-right: 0.5rem;
  }
}
