@use "sass:color";
@use "../../../../../../styles/colors";

span {
  @mixin badge-common {
    font-size: 0.9rem;
    font-weight: 500;
  }

  &.badge {
    @include badge-common;

    &:not(:last-child) {
      margin-right: 0.25rem;
    }

    line-height: 1.2rem;
  }

  &.no-permission-badge {
    @include badge-common;

    height: 3rem;
    width: 3rem;
    color: white;
    // For centering text
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

td {
  &.username {
    font-family: monospace;
  }

  &.status-icon {
    width: 1.2rem;
  }

  &.account-actions > button:not(:last-child) {
    margin-right: 0.5rem;
  }

  &.expiry {
    min-width: 18rem;
  }
}

tr {
  &.admin > td {
    background-color: color.change(colors.$color-dark-primary, $alpha: 0.18);
  }

  &.expired > td {
    background-color: color.change(colors.$color-dark-warning, $alpha: 0.18);
  }

  &.blocked > td {
    background-color: color.change(colors.$color-dark-danger, $alpha: 0.18);
  }
}

table {
  &.account-table > tbody > tr > td {
    vertical-align: middle;
  }
}
