button.toggle-diff-bar:hover {
  color: white;
}

span.pc-ratio-bull,
td.pc-ratio-bull {
  animation: text-glow-animation-bull 1.5s ease-in-out infinite alternate;
  color: #ef5350;
  vertical-align: middle;
}
@keyframes text-glow-animation-bull {
  from {
    text-shadow: 0 0 0.5rem rgba(239, 83, 80, 0.4), 0 0 0.5rem rgba(239, 83, 80, 0.4);
  }
  to {
    text-shadow: none;
  }
}
span.pc-ratio-bear,
td.pc-ratio-bear {
  animation: text-glow-animation-bear 1.5s ease-in-out infinite alternate;
  color: #26a69a;
  vertical-align: middle;
}
@keyframes text-glow-animation-bear {
  from {
    text-shadow: 0 0 0.5rem rgba(38, 166, 154, 0.4), 0 0 0.5rem rgba(38, 166, 154, 0.4);
  }
  to {
    text-shadow: none;
  }
}

div.chart-container {
  background-color: #141414;
  padding: 0.5rem;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi {
  border: none;
  background-color: #141414;
  text-align: center;
  padding: 0;
  line-height: 1.1rem;
  vertical-align: middle;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress] {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call {
  flex-direction: row-reverse;
  justify-content: end;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call > div[class*=progress-bar] {
  height: 0.75rem;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call > div[class*=progress-bar].oi-bar-inc {
  background-color: #d7d7d7;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call > div[class*=progress-bar].oi-bar-dec {
  background-color: rgba(215, 215, 215, 0.2);
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call > div[class*=progress-bar].oi-bar-main {
  background-color: #ef5350;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call-max {
  flex-direction: row-reverse;
  justify-content: end;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call-max > div[class*=progress-bar] {
  height: 0.75rem;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call-max > div[class*=progress-bar].oi-bar-inc {
  background-color: #d7d7d7;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call-max > div[class*=progress-bar].oi-bar-dec {
  background-color: rgba(215, 215, 215, 0.2);
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-call-max > div[class*=progress-bar].oi-bar-main {
  animation: background-animation-call 1s ease-in-out infinite alternate;
  background-color: #ef5350;
}
@keyframes background-animation-call {
  from {
    background-color: #ef5350;
  }
  to {
    background-color: rgba(239, 83, 80, 0.5);
  }
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put > div[class*=progress-bar] {
  height: 0.75rem;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put > div[class*=progress-bar].oi-bar-inc {
  background-color: #d7d7d7;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put > div[class*=progress-bar].oi-bar-dec {
  background-color: rgba(215, 215, 215, 0.2);
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put > div[class*=progress-bar].oi-bar-main {
  background-color: #26a69a;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put-max > div[class*=progress-bar] {
  height: 0.75rem;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put-max > div[class*=progress-bar].oi-bar-inc {
  background-color: #d7d7d7;
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put-max > div[class*=progress-bar].oi-bar-dec {
  background-color: rgba(215, 215, 215, 0.2);
}
div.chart-container > table.oi-chart > tbody > tr > td.oi > div[class*=progress].oi-bar-put-max > div[class*=progress-bar].oi-bar-main {
  animation: background-animation-put 1s ease-in-out infinite alternate;
  background-color: #26a69a;
}
@keyframes background-animation-put {
  from {
    background-color: #26a69a;
  }
  to {
    background-color: rgba(38, 166, 154, 0.5);
  }
}
div.chart-container > table.oi-chart > tbody > tr > td.oi-text {
  border: none;
  background-color: #141414;
  text-align: center;
  padding: 0;
  line-height: 1.1rem;
  vertical-align: middle;
  font-size: 0.75rem;
}
div.chart-container > table.oi-chart > tbody > tr > td.strike {
  border: none;
  background-color: #141414;
  text-align: center;
  padding: 0;
  line-height: 1.1rem;
  vertical-align: middle;
}
div.chart-container > table.oi-chart > tbody > tr > td.strike-both {
  border: none;
  background-color: #141414;
  text-align: center;
  padding: 0;
  line-height: 1.1rem;
  vertical-align: middle;
  animation: text-color-animation-both 1s ease-in-out infinite alternate;
}
@keyframes text-color-animation-both {
  from {
    color: white;
  }
  to {
    color: #b670ff;
  }
}
div.chart-container > table.oi-chart > tbody > tr > td.strike-call {
  border: none;
  background-color: #141414;
  text-align: center;
  padding: 0;
  line-height: 1.1rem;
  vertical-align: middle;
  animation: text-color-animation-call 1s ease-in-out infinite alternate;
}
@keyframes text-color-animation-call {
  from {
    color: white;
  }
  to {
    color: #ef5350;
  }
}
div.chart-container > table.oi-chart > tbody > tr > td.strike-put {
  border: none;
  background-color: #141414;
  text-align: center;
  padding: 0;
  line-height: 1.1rem;
  vertical-align: middle;
  animation: text-color-animation-put 1s ease-in-out infinite alternate;
}
@keyframes text-color-animation-put {
  from {
    color: white;
  }
  to {
    color: #26a69a;
  }
}
div.chart-container > table.oi-chart > tbody > tr.current-strike {
  animation: border-animation-current-strike 1s ease-in-out infinite alternate;
}
@keyframes border-animation-current-strike {
  from {
    border: 1px solid #505050;
  }
  to {
    border: 1px solid rgba(80, 80, 80, 0.5);
  }
}
div.chart-container > table.oi-chart > tbody > tr.current-strike > td.current-strike {
  animation: background-animation-current-strike 1s ease-in-out infinite alternate;
}
@keyframes background-animation-current-strike {
  from {
    background-color: #505050;
  }
  to {
    background-color: rgba(80, 80, 80, 0.5);
  }
}
div.chart-container > table.oi-chart > thead > tr > th.oi-header {
  border: none;
  padding: 0.25rem 0;
  text-align: center;
  vertical-align: middle;
  width: 46%;
}
div.chart-container > table.oi-chart > thead > tr > th.oi-text-header {
  border: none;
  padding: 0.25rem 0;
  text-align: center;
  vertical-align: middle;
}
div.chart-container > table.oi-chart > thead > tr > th.strike-header {
  border: none;
  padding: 0.25rem 0;
  text-align: center;
  vertical-align: middle;
  width: 8%;
}
div.chart-tab {
  cursor: pointer;
}
div.oi-max-call {
  align-self: center;
  border-radius: 0.5rem;
  color: #ef5350;
  padding: 0.3rem 1rem;
}
div.oi-max-call > span {
  animation: text-glow-animation-call 1.5s ease-in-out infinite alternate;
  font-size: 1.5rem;
  font-weight: bold;
}
@keyframes text-glow-animation-call {
  from {
    text-shadow: 0 0 0.5rem rgba(239, 83, 80, 0.4), 0 0 0.5rem rgba(239, 83, 80, 0.4);
  }
  to {
    text-shadow: none;
  }
}
div.oi-max-put {
  align-self: center;
  border-radius: 0.5rem;
  color: #26a69a;
  padding: 0.3rem 1rem;
}
div.oi-max-put > span {
  animation: text-glow-animation-put 1.5s ease-in-out infinite alternate;
  font-size: 1.5rem;
  font-weight: bold;
}
@keyframes text-glow-animation-put {
  from {
    text-shadow: 0 0 0.5rem rgba(38, 166, 154, 0.4), 0 0 0.5rem rgba(38, 166, 154, 0.4);
  }
  to {
    text-shadow: none;
  }
}

span.oi-info {
  margin: 0 0.2rem;
}
span.oi-info > span.max-call {
  background-color: #c71612;
}
span.oi-info > span.max-put {
  background-color: #1d8177;
}
@media (min-width: 768px) {
  span.oi-inc {
    color: #ef5350;
  }
}
@media (max-width: 768px) {
  span.oi-inc {
    display: none;
  }
}
@media (min-width: 768px) {
  span.oi-dec {
    color: #26a69a;
  }
}
@media (max-width: 768px) {
  span.oi-dec {
    display: none;
  }
}
@media (min-width: 768px) {
  span.oi-neut {
    color: #656565;
  }
}
@media (max-width: 768px) {
  span.oi-neut {
    display: none;
  }
}

/*# sourceMappingURL=main.module.css.map */
