@use "sass:color";
@use "../../styles/colors";

span {
  @mixin text-indicator-theme($suffix, $color) {
    /* False-negative Kebab case: https://github.com/stylelint/stylelint/issues/5997 */
    @keyframes text-indicator-#{$suffix}-animation {  /* stylelint-disable-line keyframes-name-pattern */
      0% {
        color: black;
      }

      25% {
        color: white;
      }

      50% {
        color: black;
      }

      75% {
        color: white;
      }

      100% {
        color: black;
      }
    }

    &.text-indicator-#{$suffix} {
      background-color: $color;
      border-radius: 0.5rem;
      color: black;
      padding: 0.25rem 0.5rem;
      margin: 0 0.25rem;
      animation: 750ms text-indicator-#{$suffix}-animation;
    }
  }

  @include text-indicator-theme(
    bull-3,
    color.mix(colors.$color-up-strong, colors.$color-neutral-weak, $weight: 100%)
  );
  @include text-indicator-theme(
    bull-2,
    color.mix(colors.$color-up-strong, colors.$color-neutral-weak, $weight: 66%)
  );
  @include text-indicator-theme(
    bull-1,
    color.mix(colors.$color-up-strong, colors.$color-neutral-weak, $weight: 33%)
  );
  @include text-indicator-theme(
    neutral,
    colors.$color-neutral-weak
  );
  @include text-indicator-theme(
    bear-1,
    color.mix(colors.$color-down-strong, colors.$color-neutral-weak, $weight: 33%)
  );
  @include text-indicator-theme(
    bear-2,
    color.mix(colors.$color-down-strong, colors.$color-neutral-weak, $weight: 66%)
  );
  @include text-indicator-theme(
    bear-3,
    color.mix(colors.$color-down-strong, colors.$color-neutral-weak, $weight: 100%)
  );
}
