@use "../../../../../../styles/colors";
@use "../../../../../../styles/fonts";

button {
  &.to-current {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    background-color: rgba(0 0 0 / 30%);
    z-index: 1000;
    border-radius: 50%;
    padding: 0;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
  }
}

span {
  &.country {
    $size: 2.25rem;

    align-self: center;
    display: inline-block;
    position: relative;
    object-fit: contain;
    width: $size;
    height: $size;
    margin-right: 0.5rem;
  }

  &.title {
    display: flex;
    align-self: center;
    font-size: 1.15rem;
  }

  &.countdown-complete-text {
    color: colors.$color-bw-140;
  }

  &.countdown-lt-3h-text {
    @keyframes countdown-lt-3h-text-animation {
      from {
        color: #fcfcfc;
      }

      to {
        color: #c093f3;
      }
    }

    animation: 1.2s ease-in-out infinite alternate countdown-lt-3h-text-animation;
  }

  &.last-update {
    color: colors.$color-bw-170;
    font-size: 0.8rem;
  }

  &.actual-value {
    font-size: 1.15rem;
  }
}

div {
  @mixin event-item($importance, $bg-color, $text-color) {
    &.event-item-#{$importance} {
      --bs-accordion-active-color: #fcfcfc;
      --bs-accordion-active-bg: #{$bg-color};
      --bs-accordion-btn-focus-box-shadow: none;
      --bs-accordion-btn-color: #{$text-color};

      &.latest-item {
        // `& > h2 > button` links to bootstrap accordion button for styling background color
        & > h2 > button {
          @keyframes latest-item-animation-#{$importance} {
            from {
              background-color: inherit;
            }

            to {
              background-color: #{$bg-color};
            }
          }

          animation: 1.2s ease-in-out infinite alternate latest-item-animation-#{$importance};
        }
      }
    }
  }

  @include event-item(low, #0c3d23, #25c470);
  @include event-item(medium, #47340a, #edae26);
  @include event-item(high, #54151b, #fc5c6b);

  &.date {
    align-self: end;
    font-size: 0.85rem;
  }

  &.countdown {
    align-self: end;
    font-size: 0.9rem;
    font-family: fonts.$font-monospace;
    border-radius: 0.5rem;
    background-color: colors.$color-bw-0;
    margin-top: 0.25rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  &.values {
    align-self: center;
    margin-right: 1rem;
    text-align: end;
  }

  &.sub-values {
    & > small {
      font-size: 0.85rem;
      margin: 0.25rem 0.2rem;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
