@use "sass:color";
@use "../../../styles/colors";

a {
  // Navigation brand
  &.nav-brand {
    border: none;  // Remove link styling
    display: flex;
    align-items: center;
  }
}

div {
  // Navigation body
  &.nav-body {
    @mixin nav-item-base() {
      padding: 0.5rem 1rem !important;
    }

    @mixin nav-item-active($color-bg, $color) {
      &.active {
        background-color: $color-bg;
        color: $color;
      }
    }

    @mixin nav-item-hovered($color) {
      &:hover,
      &:focus {
        color: colors.$color-bw-240;
        background-color: $color;
      }
    }

    @mixin nav-item($color-text, $color-active-bg, $color-active, $color-hovered-bg) {
      @include nav-item-base;

      &:not([class*="disabled"]) {
        color: $color-text;
      }

      @include nav-item-active($color-bg: $color-active-bg, $color: $color-active);
      @include nav-item-hovered($color: $color-hovered-bg);
    }

    &.nav-body-left {
      // Push things to the right
      margin-right: auto;
    }

    // Text entry
    div.text {
      @include nav-item-base;

      background-color: colors.$color-bw-20;
      text-align: center;
    }

    // Path entry
    a.nav-item {
      @include nav-item(
        $color-text: colors.$color-bw-240,
        $color-active-bg: colors.$color-bw-215,
        $color-active: colors.$color-bw-20,
        $color-hovered-bg: color.change(colors.$color-theme-dark, $lightness: 30%),
      );
    }

    // Admin entry
    a.nav-item-admin {
      @include nav-item(
        $color-text: color.change(colors.$color-danger, $lightness: 68%),
        $color-active-bg: colors.$color-danger,
        $color-active: colors.$color-bw-255,
        $color-hovered-bg: color.change(colors.$color-danger, $lightness: 30%),
      );
    }

    // Component entry
    button {
      // For all button component to fill the vertical space
      width: 100%;
    }
  }
}

nav {
  &.nav-main {
    background-color: colors.$color-bw-32;
  }
}
