@use "sass:color";
@use "../../../styles/colors";

span {
  $theme-running: #ababab;
  $theme-warning: #9ca62b;
  $theme-closing: #c20000;

  @keyframes closing-light {
    from {
      background: $theme-closing;
    }

    to {
      background: colors.$color-chart-status-bg;
    }
  }

  @keyframes warning-light {
    from {
      box-shadow: inset 0 0 1rem $theme-warning;
    }

    to {
      background: colors.$color-chart-status-bg;
    }
  }

  &.period-timer {
    background-color: colors.$color-chart-status-bg;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    display: inline;

    &.period-timer-running {
      border: 1px solid $theme-running;
    }

    &.period-timer-warning {
      border: 1px solid $theme-warning;
      color: color.change($theme-warning, $lightness: 90%);
      animation: 1s warning-light;
    }

    &.period-timer-closing {
      border: 1px solid $theme-closing;
      color: color.change($theme-closing, $lightness: 90%);
      animation: 1s closing-light;
    }
  }
}
